In [ ]:
import pandas as pd

In [ ]:
d_1905 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2021CCP/kt_data/data_folder/202107_50CELL_WPOP.csv',sep='|')

In [ ]:
d_list = list(d_1905)

In [ ]:
for i in range(len(d_list)):
  d_list[i] = d_list[i].replace(',', '')

In [ ]:
d_1905.columns = d_list

In [ ]:
d_1905 = d_1905.astype(str)

In [ ]:
for i in d_list:
  d_1905[i] = d_1905[i].str.replace(',', '')

In [ ]:
d_1905

          etl_ymd        id       x       y  ...   f75   f80  f85   total
0        20210722  52264172  316552  555193  ...   0.0   0.0  0.0    1.39
1        20210722  52264171  316552  555143  ...   0.0   0.0  0.0     1.5
2        20210722  52239795  316452  555243  ...   0.0   0.0  0.0    1.21
3        20210722  52251982  316502  555143  ...   0.0   0.0  0.0    1.92
4        20210722  52227605  316402  555193  ...   0.0   0.0  0.0    3.42
...           ...       ...     ...     ...  ...   ...   ...  ...     ...
2478833  20210727  49960370  307102  551143  ...  2.01  0.33  0.0  150.31
2478834  20210727  49948181  307052  551143  ...  1.04  0.17  0.0   78.04
2478835  20210727  49960371  307102  551193  ...  2.22  0.37  0.0  165.81
2478836  20210727  49948182  307052  551193  ...  1.86  0.31  0.0   139.1
2478837  20210727  49972559  307152  551143  ...  1.41  0.24  0.0  105.61

[2478838 rows x 43 columns]

In [ ]:
d_1905 = d_1905.sort_values(by=['etl_ymd','timezn_cd','admi_cd','id'])
d_1905 = d_1905.reset_index(drop=True)

In [ ]:
d_1905.to_csv("/content/drive/MyDrive/Colab Notebooks/2021CCP/kt_data/data_folder/changed/202107going.csv", mode='w')

In [ ]:
d_1905 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/2021CCP/kt_data/data_folder/changed/202107going.csv')

In [ ]:
d_1905 = d_1905.drop(['Unnamed: 0'], axis=1)

In [ ]:
!pip install geopandas
import geopandas as gpd
from shapely.geometry import Point

In [ ]:
d_1905['x'] = d_1905['x'].astype(float)  # 경도
d_1905['y'] = d_1905['y'].astype(float)  # 위도
d_1905['geometry'] = d_1905.apply(lambda row : Point([row['x'], row['y']]), axis=1)
d_1905 = gpd.GeoDataFrame(d_1905, geometry='geometry')

In [ ]:
from fiona.crs import from_string
d_1905.crs = from_string("+proj=tmerc +lat_0=38 +lon_0=128 +k=0.9999 +x_0=400000 +y_0=600000 +ellps=bessel +units=m +no_defs +towgs84=-115.80,474.99,674.11,1.16,-2.31,-1.63,6.43")
d_1905 = d_1905.to_crs({'init':'epsg:4326'})

/usr/local/lib/python3.7/dist-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

In [ ]:
print(d_1905[:10])

    etl_ymd        id         x  ...  f85  total                    geometry
0  20210701  51764393  314502.0  ...  0.0   4.49  POINT (127.02978 37.58153)
1  20210701  51764394  314502.0  ...  0.0   4.90  POINT (127.02978 37.58198)
2  20210701  51764395  314502.0  ...  0.0   5.28  POINT (127.02977 37.58243)
3  20210701  51764396  314502.0  ...  0.0   4.58  POINT (127.02977 37.58288)
4  20210701  51776582  314552.0  ...  0.0   5.36  POINT (127.03035 37.58153)
5  20210701  51776583  314552.0  ...  0.0   3.89  POINT (127.03034 37.58199)
6  20210701  51776584  314552.0  ...  0.0   6.42  POINT (127.03034 37.58244)
7  20210701  51776585  314552.0  ...  0.0   6.95  POINT (127.03033 37.58289)
8  20210701  51776586  314552.0  ...  0.0  11.67  POINT (127.03033 37.58334)
9  20210701  51788771  314602.0  ...  0.0   5.13  POINT (127.03092 37.58154)

[10 rows x 44 columns]

In [ ]:
d_1905['x'] = d_1905['geometry'].x
d_1905['y'] = d_1905['geometry'].y

In [ ]:
print(d_1905[:10])

    etl_ymd        id           x  ...  f85  total                    geometry
0  20210701  51764393  127.029783  ...  0.0   4.49  POINT (127.02978 37.58153)
1  20210701  51764394  127.029778  ...  0.0   4.90  POINT (127.02978 37.58198)
2  20210701  51764395  127.029772  ...  0.0   5.28  POINT (127.02977 37.58243)
3  20210701  51764396  127.029766  ...  0.0   4.58  POINT (127.02977 37.58288)
4  20210701  51776582  127.030349  ...  0.0   5.36  POINT (127.03035 37.58153)
5  20210701  51776583  127.030344  ...  0.0   3.89  POINT (127.03034 37.58199)
6  20210701  51776584  127.030338  ...  0.0   6.42  POINT (127.03034 37.58244)
7  20210701  51776585  127.030332  ...  0.0   6.95  POINT (127.03033 37.58289)
8  20210701  51776586  127.030326  ...  0.0  11.67  POINT (127.03033 37.58334)
9  20210701  51788771  127.030915  ...  0.0   5.13  POINT (127.03092 37.58154)

[10 rows x 44 columns]

In [ ]:
d_1905 = d_1905.drop(['geometry'], axis=1)

In [ ]:
print(d_1905[:10])

    etl_ymd        id           x          y  ...   f75   f80  f85  total
0  20210701  51764393  127.029783  37.581530  ...  0.00  0.00  0.0   4.49
1  20210701  51764394  127.029778  37.581981  ...  0.00  0.00  0.0   4.90
2  20210701  51764395  127.029772  37.582431  ...  0.00  0.00  0.0   5.28
3  20210701  51764396  127.029766  37.582881  ...  0.00  0.00  0.0   4.58
4  20210701  51776582  127.030349  37.581535  ...  0.00  0.00  0.0   5.36
5  20210701  51776583  127.030344  37.581985  ...  0.00  0.00  0.0   3.89
6  20210701  51776584  127.030338  37.582436  ...  0.00  0.00  0.0   6.42
7  20210701  51776585  127.030332  37.582886  ...  0.00  0.12  0.0   6.95
8  20210701  51776586  127.030326  37.583337  ...  0.00  0.00  0.0  11.67
9  20210701  51788771  127.030915  37.581539  ...  0.04  0.13  0.0   5.13

[10 rows x 43 columns]

In [ ]:
d_1905.to_csv("/content/drive/MyDrive/Colab Notebooks/2021CCP/kt_data/data_folder/changed/202107KT.csv", mode='w')