In [ ]:
# 1~4

In [ ]:
print("hello world")
print('풍선') # 작은 따옴표로 감싼 문자열 
print("나비") # 큰 따옴표로 감싼 문자열 
print("ㅋㅋㅋㅋㅋㅋㅋㅋㅋ") # 긴 문자열 
print("ㅋ"*9) # ㅋ 을 9번 출력

In [ ]:
print(5) # 5 출력
print(-10) # -10 출력
print(3.14) # 3.14 출력
print(1000) # 1000 출력
print(5+3) # 8 출력
print(2*8) # 16 출력 (주의 : x 가 아닌 * 예요)
print(3*(3+1)) # 12 출력

In [ ]:
print(5 > 10) # False 출력 
print(5 < 10) # True 출력 
print(True) # True 
print(False) # False 
print(not True) # False 출력 
print(not False) # True 출력 
print(not (5 > 10)) # True 출력

In [ ]:
name = "연탄이"
animal = "강아지"
age = 4
hobby = "산책"
is_adult = age >= 3

In [ ]:
# 애완동물을 소개해 주세요~
print("우리집 " + animal + "의 이름은 " + name + "에요") # 이름 소개
print(name + "는 " + str(age) + "살이며, " + hobby + "을 아주 좋아해요")  # 나이, 취미 소개
print(name, "는 ", age, "살이며, ", hobby, "(을)를 아주 좋아해요")
print(name + "는 어른일까요? " + str(is_adult)) # 어른인지 여부 확인

In [ ]:
animal = "고양이"
name = "해피"
age = 4
hobby = "낮잠"
is_adult = age >= 3

In [ ]:
station = "사당"
print(station + "행 열차가 들어오고 있습니다")

In [ ]:
print(1 + 1) # 2
print(3 - 2) # 1
print(5 * 2) # 10
print(6 / 3) # 2.0
print(2 ** 3) # 2의 3제곱 = 2^3 = 8
print(5 % 3) # 5를 3으로 나눈 나머지 = 2
print(10 % 3) # 10을 3으로 나눈 나머지 = 1
print(5 // 3) # 5를 3으로 나눈 몫 = 1
print(10 // 3) # 10을 3으로 나눈 몫 = 3

In [ ]:
print(10 > 3) # True
print(4 >= 7) # False
print(10 < 3) # False
print(5 <= 5) # True

In [ ]:
# 좌항과 우항이 같은지 비교
print(3 == 3) # 같으므로 True
print(4 == 2) # 다르므로 False
print(3 + 4 == 7) # 같으므로 True

# 좌항과 우항이 다른지 비교
print(1 != 3) # 다르므로 True

In [ ]:
# 좌항과 우항이 모두 참인가?
print((3 > 0) and (3 > 5)) # 좌항(3 > 0) 은 참이지만 우항(3 > 5) 는 거짓이므로 False 

# 좌항 또는 우항 중 하나라도 참인가?
print((3 > 0) or (3 > 5)) # 좌항(3 > 0) 이 참이므로 우항(3 > 5) 이 거짓이라도 True

# 좌항과 우항이 다른지 비교한 결과의 반대
print(not(1 != 3)) # 1과 3은 다르므로 True 인데, True 의 반대이므로 False

In [ ]:
print(5 > 4 > 3) # (5 > 4) 도 참이며 (4 > 3) 도 참이므로 True
print(5 > 4 > 7) # (5 > 4) 는 참이지만 (4 > 7) 은 거짓이므로 False

In [ ]:
print(2 + 3 * 4) # 14
print((2 + 3) * 4) # 20

In [ ]:
number = 2 + 3 * 4
print(number) # 14
number = number + 2
print(number) # 16
number += 2 # number = number + 2 와 동일
print(number) # 18
number *= 2 # number = number * 2 와 동일
print(number) # 36
number /= 2 # number = number / 2 와 동일
print(number) # 18
number -= 2 # number = number - 2 와 동일
print(number) # 16
number %= 2 # number = number % 2 와 동일
print(number) # 0

In [ ]:
print(abs(-5)) # -5 의 절대값 = 5
print(pow(4, 2)) # 4의 2제곱 = 4 * 4 = 16
print(max(5, 12)) # 5 와 12 중 큰 값 = 12
print(min(5, 12)) # 5 와 12 중 작은 값 = 5
print(round(3.14)) # 3.14 의 반올림 = 3
print(round(4.99)) # 4.99 의 반올림 = 5

In [ ]:
from math import * # math 모듈 내의 모든 내용을 가져다 쓰겠다는 의미

print(floor(4.99)) # 4.99 의 내림 = 4
print(ceil(3.14)) # 3.14 의 올림 = 4
print(sqrt(16)) # 16 의 제곱근 = 4

In [ ]:
import math # math 모듈을 가져다 쓰겠다는 의미

print(math.floor(4.99)) # math. 과 함께 사용
print(math.ceil(3.14))
print(math.sqrt(16))

In [ ]:
from random import * # random 모듈에서 모든 것들을 가져다 쓰겠다는 의미

print(random()) # 0.0 이상 1.0 미만의 임의의 값 생성
print(random() * 10) # 0.0 이상 10.0 미만의 임의의 값 생성
print(int(random() * 10)) # 0 이상 10 미만의 임의의 정수 값 생성
print(int(random() * 10) + 1) # 1 이상 10 이하 (11 미만) 의 임의의 정수 값 생성

print(int(random() * 45) + 1) # 1 이상 46 미만의 임의의 정수 값 생성

In [ ]:
print(randrange(1, 46)) # 1 이상 46 미만의 임의의 정수 값 생성
print(randint(1, 45)) # 1 이상 45 이하(45를 포함해요!!)의 임의의 정수 값 생성

In [ ]:
print("오프라인 스터디 모임 날짜는 매월 " + str(randint(4,28)) + "일로 선정되었습니다.")

오프라인 스터디 모임 날짜는 매월 21일로 선정되었습니다.

In [ ]:
sentence1 = '나는 소년입니다'
print(sentence1) # 나는 소년입니다
sentence2 = "파이썬은 쉬워요"
print(sentence2) # 파이썬은 쉬워요
sentence3 = """
나는 소년이고,
파이썬은 쉬워요
"""
print(sentence3) # 큰 따옴표 대신 작은 따옴표 3개씩으로 감싸도 돼요

# 문장 앞에 변수가 있으면 여러 줄에 걸친 문자열로, 변수가 없으면 여러 줄에 대한 주석으로 인식

나는 소년입니다
파이썬은 쉬워요

나는 소년이고,
파이썬은 쉬워요

In [ ]:
jumin = "990120-1234567"

print("성별 : " + jumin[7]) # 성별 : 1
print("연 : " + jumin[0:2]) # 0 부터 2 직전까지 (0, 1) : 99 년
print("월 : " + jumin[2:4]) # 2 부터 4 직전까지 (2, 3) : 01 월
print("일 : " + jumin[4:6]) # 4 부터 6 직전까지 (4, 5) : 20 일
print("생년월일 : " + jumin[:6]) # 처음부터 6 직전까지 -> jumin[0:6] 과 동일
print("뒤 7자리 : " + jumin[7:]) # 7 부터 끝까지 -> jumin[7:14] 와 동일
print("뒤 7자리 (뒤에부터) : " + jumin[-7:]) # 맨 뒤에서 7번째 위치로부터 끝까지

성별 : 1
연 : 99
월 : 01
일 : 20
생년월일 : 990120
뒤 7자리 : 1234567
뒤 7자리 (뒤에부터) : 1234567

In [ ]:
python = "Python is Amazing"

print(python.lower()) # python is amazing
print(python.upper()) # PYTHON IS AMAZING
print(python[0].isupper()) # True : 0 번째 인덱스의 값이 대문자인지 확인
print(python[1].islower()) # True : 1 번째 인덱스의 값이 대문자인지 확인
print(len(python)) # 17 : 띄어쓰기를 포함한 문자열의 전체 길이 (length)
print(python.replace("Python", "Java")) # Java is Amazing

python is amazing
PYTHON IS AMAZING
True
True
17
Java is Amazing

In [ ]:
index = python.index("n") # 처음으로 발견된 n 의 인덱스
print(index) # 5 : Python 의 n
index = python.index("n", index + 1) # 6 번째 인덱스 이후에 처음으로 발견된 n 의 인덱스 
print(index) # 15 : Amazing 의 n
#index = python.index("n", index + 1) # 없으면 에러 
#print(index) # error

find = python.find("n") # 처음으로 발견된 n 의 인덱스
print(find) # 5 : Python 의 n
find = python.find("n", find + 1) # 6 번째 인덱스 이후에 처음으로 발견된 n 의 인덱스
print(find) # 15 : Amazing 의 n
find = python.find("n", find + 1) # 없으면 -1
print(find) # -1

5
15
5
15
-1

In [ ]:
#print(python.index("Java")) # Java 가 없기 때문에 에러가 발생하며 프로그램 종료
print(python.find("Java")) # Java 가 없으면 -1 을 반환(출력)하며 프로그램 계속 수행

-1

In [ ]:
print(python.count("n")) # 2 : 문자열 내에서 n 이 나온 횟수

2

In [ ]:
print("a" + "b") # ab
print("a", "b") # a b

ab
a b

In [ ]:
print("나는 %d살입니다." % 20) # 나는 20살입니다
print("나는 %s을 좋아합니다." % "파이썬") # 나는 파이썬을 좋아합니다.
print("Apple 은 %c로 시작해요." % "A") # Apple 은 A로 시작해요.

print("나는 %s살입니다." % 20) # 나는 20살입니다 (%s 로도 정수값 표현 가능)

나는 20살입니다.
나는 파이썬을 좋아합니다.
Apple 은 A로 시작해요.
나는 20살입니다.

In [ ]:
print("나는 %s색과 %d을 좋아해요." % ("파란", 20)) # 나는 파란색과 빨간색을 좋아해요.

나는 파란색과 20을 좋아해요.

In [ ]:
print("나는 {}살입니다.".format(20)) # 나는 20살입니다.
print("나는 {}색과 {}색을 좋아해요.".format("파란", "빨간")) # 나는 파란색과 빨간색을 좋아해요
print("나는 {0}색과 {1}색을 좋아해요.".format("파란", "빨간")) # 나는 파란색과 빨간색을 좋아해요
print("나는 {1}색과 {0}색을 좋아해요.".format("파란", "빨간")) # 나는 빨간색과 파란색을 좋아해요

나는 20살입니다.
나는 파란색과 빨간색을 좋아해요.
나는 파란색과 빨간색을 좋아해요.
나는 빨간색과 파란색을 좋아해요.

In [ ]:
print("나는 {age}살이며, {color}색을 좋아해요.".format(age=20, color="빨간"))
# 나는 20살이며, 빨간색을 좋아해요

print("나는 {age}살이며, {color}색을 좋아해요.".format(color="빨간", age=20))
# 나는 20살이며, 빨간색을 좋아해요 (.format 뒤에 순서를 변경해도 괜찮아요)

나는 20살이며, 빨간색을 좋아해요.
나는 20살이며, 빨간색을 좋아해요.

In [ ]:
age = 20
color = "빨간"
print(f"나는 {age}살이며, {color}색을 좋아해요.") # 나는 20살이며, 빨간색을 좋아해요.

나는 20살이며, 빨간색을 좋아해요.

In [ ]:
print("백문이 불여일견\n백견이 불여일타")

백문이 불여일견
백견이 불여일타

In [ ]:
print('저는 "나도코딩"입니다.') # 저는 "나도코딩"입니다.
print("저는 '나도코딩'입니다.") # 저는 '나도코딩'입니다.
print("저는 \"나도코딩\"입니다.") # 저는 "나도코딩"입니다.
print("저는 \'나도코딩\'입니다.") # 저는 '나도코딩'입니다.

저는 "나도코딩"입니다.
저는 '나도코딩'입니다.
저는 "나도코딩"입니다.
저는 '나도코딩'입니다.

In [ ]:
print("C:\\Users\\Nadocoding\\Desktop\\PythonWorkspace>")

C:\Users\Nadocoding\Desktop\PythonWorkspace>

In [ ]:
print(r"C:\Users\Nadocoding\Desktop\PythonWorkspace>") # raw string

C:\Users\Nadocoding\Desktop\PythonWorkspace>

In [ ]:
print("Red Apple\rPine") # Pine (커서를 맨 앞으로 이동시키는 역할)
print("Redd\bApple") # RedApple (키보드의 백스페이스와 같은 역할)
print("Red\tApple") # Red     Apple (키보드의 Tab처럼 여러 칸(보통 8칸 단위)을 띄어주는 역할)

Pine
ReddApple
Red	Apple

In [ ]:
url = "http://daum.net"
url = url.replace("http://", "")
url = url[:url.index(".")] # .의 앞까지만
pwd = url[:3]+str(len(url))+str(url.count("e"))+"!"
print("비밀번호는 {0}입니다.".format(pwd))

비밀번호는 dau40!입니다.