In [ ]:
# 5~7

In [ ]:
subway = [10, 20, 30] # 리스트
print(subway) # [10, 20, 30]

In [ ]:
subway = ["유재석", "조세호", "박명수"]
print(subway)

# 조세호씨가 몇 번째 칸에 타고 있는가?
print(subway.index("조세호")) # 1

# 하하씨가 다음 정류장에서 다음 칸에 탐
subway.append("하하")
print(subway) # ['유재석', '조세호', '박명수', '하하']

# 정형돈씨를 유재석 / 조세호 사이에 태움
subway.insert(1, "정형돈") # 인덱스 1 위치에 삽입
print(subway) # ['유재석', '정형돈', '조세호', '박명수', '하하']

In [ ]:
# 지하철에 있는 사람을 한 명씩 뒤에서 꺼냄
print(subway.pop()) # 하하 내림
print(subway) # ['유재석', '정형돈', '조세호', '박명수']

print(subway.pop()) # 박명수 내림
print(subway) # ['유재석', '정형돈', '조세호']

print(subway.pop()) # 조세호 내림
print(subway) # ['유재석', '정형돈']

In [ ]:
# 같은 이름의 사람이 몇 명 있는지 확인
subway.append("유재석") # 설명을 위해 유재석씨를 맨 뒤에 태울게요
print(subway) # ['유재석', '정형돈', '유재석']
print(subway.count("유재석")) # 유재석씨가 2명이 있네요!

In [ ]:
num_list = [5, 2, 4, 3, 1]
num_list.sort() # 정렬
print(num_list) # [1, 2, 3, 4, 5]
num_list.reverse() # 순서 뒤집기
print(num_list) # [5, 4, 3, 2, 1]
num_list.clear() # 모두 지우기
print(num_list) # []

In [ ]:
mix_list = ["조세호", 20, True] # 다양한 자료형을 함께 사용할 수 있어요
print(mix_list) # ['조세호', 20, True]

num_list = [5, 2, 4, 3, 1] # num_list 값 다시 정의
num_list.extend(mix_list) # 리스트 확장
print(num_list) # [5, 2, 4, 3, 1, '조세호', 20, True]

In [ ]:
cabinet = {3: "유재석", 100: "김태호"}
print(cabinet[3]) # 유재석 -> key 3 에 해당하는 value
print(cabinet[100]) # 김태호 -> key 100 에 해당하는 value
print(cabinet.get(3)) # 유재석 -> key 3 에 해당하는 value

In [ ]:
#print(cabinet[5]) # key 가 5 인 값이 없을 땐 에러 발생 후 프로그램 종료
print(cabinet.get(5)) # key 가 5 인 값이 없을 땐 None 반환 후 계속 진행

In [ ]:
print(cabinet.get(5, "사용 가능")) # key 에 해당하는 값이 없는 경우 기본 값을 사용

In [ ]:
# 사전 자료형에 값이 있는지 여부 확인
print(3 in cabinet)  # True
print(5 in cabinet)  # False

In [ ]:
# key 는 정수형이 아닌 문자열도 가능
cabinet = {"A-3": "유재석", "B-100": "김태호"}
print(cabinet["A-3"]) # 유재석
print(cabinet["B-100"]) # 김태호

In [ ]:
# 업데이트 또는 추가
print(cabinet) # {'A-3': '유재석', 'B-100': '김태호'}
cabinet["A-3"] = "김종국" # key 에 해당하는 값이 있는 경우 업데이트
cabinet["C-20"] = "조세호" # key 에 해당하는 값이 없는 경우 신규 추가
print(cabinet) # {'A-3': '김종국', 'B-100': '김태호', 'C-20': '조세호'}

In [ ]:
# 삭제
del cabinet["A-3"] # key "A-3" 에 해당하는 데이터 삭제
print(cabinet) # {'B-100': '김태호', 'C-20': '조세호'}

In [ ]:
# key 들만 출력
print(cabinet.keys()) # dict_keys(['B-100', 'C-20'])

# value 들만 출력
print(cabinet.values()) # dict_values(['김태호', '조세호'])

# key, value 쌍으로 출력
print(cabinet.items()) # dict_items([('B-100', '김태호'), ('C-20', '조세호')])

In [ ]:
# 전체 삭제
cabinet.clear()
print(cabinet) # {}

In [ ]:
# 튜플 -> 리스트의 읽기 전용 버전
# 처음 정의할 때를 제외하고는 데이터 변경이나 추가, 삭제 등이 불가
# 대신 리스트보다는 속도가 빠름

menu = ("돈까스", "치즈까스")
print(menu[0]) # 돈까스
print(menu[1]) # 치즈까스

In [ ]:
(name, age, hobby) = ("김종국", 20, "코딩")
print(name, age, hobby) # 김종국 20 코딩

# 이 예제에서 좌항과 우항의 괄호는 있거나 없거나 결과는 동일!

In [ ]:
# 세트(set, 집합)
# 중복을 허용하지 않으며 또한 데이터의 순서도 보장하지 않음

my_set = {1, 2, 3, 3, 3} # 중복을 허용하지 않으므로 3은 1번만 들어감
print(my_set) # {1, 2, 3}

java = {"유재석", "김태호", "양세형"} # 자바 개발자 집합
python = set(["유재석", "박명수"]) # 파이썬 개발자 집합

# 교집합 (java 와 python 을 모두 할 수 있는 개발자)
print(java & python) # {'유재석'}
print(java.intersection(python)) # {'유재석'}

# 합집합 (java 또는 python 을 할 수 있는 개발자)
print(java | python) # {'박명수', '유재석', '김태호', '양세형'}
print(java.union(python)) # {'박명수', '유재석', '김태호', '양세형'}

# 차집합 (java 는 할 수 있지만 python 은 할 줄 모르는 개발자)
print(java - python) # {'양세형', '김태호'}
print(java.difference(python)) # {'양세형', '김태호'}

In [ ]:
# python 개발자 추가 (기존 개발자 : 박명수, 유재석)
python.add("김태호")
print(python) # {'박명수', '유재석', '김태호'}

# java 개발자 삭제 (기존 개발자 : 유재석, 김태호, 양세형)
java.remove("김태호")
print(java) # {'유재석', '양세형'}

In [ ]:
menu = {"커피", "우유", "주스"}
print(menu, type(menu)) # menu 의 type 정보 : set
menu = list(menu) # 리스트 형태로 변환
print(menu, type(menu)) # menu 의 type 정보 : list
menu = tuple(menu) # 튜플 형태로 변환
print(menu, type(menu)) # menu 의 type 정보 : tuple
menu = set(menu) # 세트 형태로 변환
print(menu, type(menu)) # menu 의 type 정보 : set

In [ ]:
from random import *

users = range(1, 21) # 1 부터 21 직전까지의 연속된 숫자 모음
users = list(users) # range 를 list 로 변환
shuffle(users) # shuffle은 list에 대해서만 사용 가능

winners = sample(users, 4) # users 리스트에서 중복 없이 4명을 추첨

print(" -- 당첨자 발표 -- ")
print("치킨 당첨자 : {0}".format(winners[0])) # 0 번째 인덱스 (1명)
print("커피 당첨자 : {0}".format(winners[1:])) # 1 번째부터 마지막까지 슬라이싱 (3명)
print(" -- 축하합니다 --")

 -- 당첨자 발표 --
치킨 당첨자 : 3
커피 당첨자 : [13, 14, 12]
 -- 축하합니다 --

In [ ]:
from random import *

users = list(range(1, 21)) # range 를 list 로 바로 감싸면 한 줄 더 줄일 수 있어요!
shuffle(users)

chicken_winner = sample(users, 1) # 치킨 당첨자 1명 추첨
remain_users = set(users) - set(chicken_winner) # 전체 집합에서 치킨 당첨자 집합을 제외
coffee_winners = sample(remain_users, 3) # 남은 19명 중에서 3명 추첨

print("-- 당첨자 발표 --")
print("치킨 당첨자 : {0}".format(chicken_winner))
print("커피 당첨자 : {0}".format(coffee_winners))
print("-- 축하합니다 --")

-- 당첨자 발표 --
치킨 당첨자 : [10]
커피 당첨자 : [2, 13, 4]
-- 축하합니다 --

In [ ]:
#weather = "비"
#weather = "맑음"
#weather = "미세먼지"
weather = input("오늘 날씨는 어때요? ")

if weather == "비" or weather == "눈":
    print("우산을 챙기세요")
elif weather == "미세먼지":
    print("마스크를 챙기세요")
else:
    print("준비물 필요 없어요")

오늘 날씨는 어때요? 눈
우산을 챙기세요

In [ ]:
temp = int(input("기온은 어때요? "))
if 30 <= temp: # 30 도 이상이면
    print("너무 더워요. 나가지 마세요")
elif 10 <= temp and temp < 30: # 10도 이상 30도 미만이면
    print("괜찮은 날씨에요")
elif 0 <= temp and temp < 10: # 0도 이상 10도 미만이면
# 위 비교 문장은 이렇게도 작성 가능합니다.
# elif 0 <= temp < 10:
    print("외투를 챙기세요")
else: # 그 외의 모든 경우 (0도 미만이면)
    print("너무 추워요. 나가지 마세요")

기온은 어때요? -1
너무 추워요. 나가지 마세요

In [ ]:
for waiting_no in range(1, 6): # 1부터 6직전까지 (1~5)
    print("대기번호 : {0}".format(waiting_no))

대기번호 : 1
대기번호 : 2
대기번호 : 3
대기번호 : 4
대기번호 : 5

In [ ]:
starbucks = ["아이언맨", "토르", "아이엠 그루트"] # 손님 리스트
for customer in starbucks:
    print("{0}, 커피가 준비되었습니다".format(customer))

아이언맨, 커피가 준비되었습니다
토르, 커피가 준비되었습니다
아이엠 그루트, 커피가 준비되었습니다

In [ ]:
customer = "토르" # 손님
index = 5 # 부르는 횟수, 총 5회

while index >= 1: # 부르는 횟수가 1 이상인 경우에만 반복 실행
    print("{0}, 커피가 준비 되었습니다. {1} 번 남았어요.".format(customer, index))    
    index -= 1 # 부르는 횟수 감소
    if index == 0: # 5번 모두 불렀다면
        print("커피는 폐기처분되었습니다.")

토르, 커피가 준비 되었습니다. 5 번 남았어요.
토르, 커피가 준비 되었습니다. 4 번 남았어요.
토르, 커피가 준비 되었습니다. 3 번 남았어요.
토르, 커피가 준비 되었습니다. 2 번 남았어요.
토르, 커피가 준비 되었습니다. 1 번 남았어요.
커피는 폐기처분되었습니다.

In [ ]:
customer = "토르"
person = "Unknown"

while person != customer:
    print("{0}, 커피가 준비 되었습니다.".format(customer))
    person = input("이름이 어떻게 되세요? ")

토르, 커피가 준비 되었습니다.
이름이 어떻게 되세요? 아이언맨
토르, 커피가 준비 되었습니다.
이름이 어떻게 되세요? 아이엠그루트
토르, 커피가 준비 되었습니다.
이름이 어떻게 되세요? 토르

In [ ]:
absent = [2, 5] # 결석한 학생 출석번호
no_book = [7] # 책을 가져오지 않은 학생 출석번호

for student in range(1, 11): # 출석번호 1~10번
    if student in absent: # 결석했으면 책을 읽지 않고 다음 학생으로 넘어가기
        continue
    elif student in no_book: # 책을 가져오지 않았으면 바로 수업 종료 (반복문 탈출)
        print("오늘 수업 여기까지. {0}는 교무실로 따라와".format(student))
        break
    print("{0}, 책을 읽어봐".format(student))

1, 책을 읽어봐
3, 책을 읽어봐
4, 책을 읽어봐
6, 책을 읽어봐
오늘 수업 여기까지. 7는 교무실로 따라와

In [ ]:
students = [1, 2, 3, 4, 5]
print(students) # [1, 2, 3, 4, 5]

# 한 줄 for 를 이용하여 각 항목에 100 을 더함
students = [i + 100 for i in students]
print(students) # [101, 102, 103, 104, 105]

[1, 2, 3, 4, 5]
[101, 102, 103, 104, 105]

In [ ]:
students = ["Iron man", "Thor", "I am groot"]
print(students) # ["Iron man", "Thor", "I am groot"]

# 한 줄 for 를 이용하여 각 이름의 길이 정보로 변환 (띄어쓰기 포함)
students = [len(i) for i in students]
print(students) # [8, 4, 10]

['Iron man', 'Thor', 'I am groot']
[8, 4, 10]

In [ ]:
students = ["Iron man", "Thor", "I am groot"]
print(students) # ["Iron man", "Thor", "I am groot"]

# 한 줄 for 를 이용하여 각 이름을 대문자로 변경
students = [i.upper() for i in students]
print(students) # ['IRON MAN', 'THOR', 'I AM GROOT']

['Iron man', 'Thor', 'I am groot']
['IRON MAN', 'THOR', 'I AM GROOT']

In [ ]:
from random import *
cnt = 0
for i in range(1,51):
  time = randrange(5,51)
  if 5 <= time <= 15:
    print("[O] {0}번째 손님 (소요시간 : {1}분)".format(i, time))
    cnt += 1
  else:
    print("[ ] {0}번째 손님 (소요시간 : {1}분)".format(i, time))
print("총 탑승 승객 : {0}분".format(cnt))

[ ] 1번째 손님 (소요시간 : 41분)
[ ] 2번째 손님 (소요시간 : 41분)
[ ] 3번째 손님 (소요시간 : 31분)
[O] 4번째 손님 (소요시간 : 5분)
[O] 5번째 손님 (소요시간 : 5분)
[ ] 6번째 손님 (소요시간 : 32분)
[O] 7번째 손님 (소요시간 : 13분)
[ ] 8번째 손님 (소요시간 : 30분)
[ ] 9번째 손님 (소요시간 : 23분)
[ ] 10번째 손님 (소요시간 : 43분)
[O] 11번째 손님 (소요시간 : 9분)
[ ] 12번째 손님 (소요시간 : 30분)
[ ] 13번째 손님 (소요시간 : 21분)
[ ] 14번째 손님 (소요시간 : 37분)
[ ] 15번째 손님 (소요시간 : 42분)
[ ] 16번째 손님 (소요시간 : 16분)
[O] 17번째 손님 (소요시간 : 9분)
[O] 18번째 손님 (소요시간 : 14분)
[ ] 19번째 손님 (소요시간 : 45분)
[ ] 20번째 손님 (소요시간 : 43분)
[ ] 21번째 손님 (소요시간 : 30분)
[ ] 22번째 손님 (소요시간 : 46분)
[ ] 23번째 손님 (소요시간 : 38분)
[ ] 24번째 손님 (소요시간 : 18분)
[ ] 25번째 손님 (소요시간 : 29분)
[ ] 26번째 손님 (소요시간 : 47분)
[ ] 27번째 손님 (소요시간 : 33분)
[ ] 28번째 손님 (소요시간 : 47분)
[ ] 29번째 손님 (소요시간 : 50분)
[ ] 30번째 손님 (소요시간 : 39분)
[O] 31번째 손님 (소요시간 : 8분)
[ ] 32번째 손님 (소요시간 : 46분)
[ ] 33번째 손님 (소요시간 : 26분)
[ ] 34번째 손님 (소요시간 : 34분)
[ ] 35번째 손님 (소요시간 : 27분)
[O] 36번째 손님 (소요시간 : 7분)
[ ] 37번째 손님 (소요시간 : 33분)
[ ] 38번째 손님 (소요시간 : 49분)
[ ] 39번째 손님 (소요시간 : 48분)
[O] 40번째 손님 (소요시간 : 10분)
[ ] 41번째 손님 (소요시간 : 37분)
[ ] 42번째 손님 (소요시간 : 22분)
[ ] 43번째 손님 (소요시간 : 22분)
[ ] 44번째 손님 (소요시간 : 17분)
[ ] 45번째 손님 (소요시간 : 20분)
[O] 46번째 손님 (소요시간 : 9분)
[ ] 47번째 손님 (소요시간 : 40분)
[ ] 48번째 손님 (소요시간 : 40분)
[O] 49번째 손님 (소요시간 : 9분)
[ ] 50번째 손님 (소요시간 : 30분)
총 탑승 승객 : 11분

In [ ]:
# 함수
# 보통 변수는 명사, 함수는 동사를 이용

def open_account():
    print("새로운 계좌가 생성되었습니다.")

open_account() # 앞에서 정의된 open_account() 함수 호출

새로운 계좌가 생성되었습니다.

In [ ]:
def deposit(balance, money): # 입금
    print("입금이 완료되었습니다. 잔액은 {0} 원입니다.".format(balance + money))
    return balance + money # 입금 후 잔액 정보 반환
    
balance = 0 # 최초 잔액
balance = deposit(balance, 1000) # 1000원 입금
print(balance) # 현재 잔액

입금이 완료되었습니다. 잔액은 1000 원입니다.
1000

In [ ]:
def withdraw(balance, money): # 출금
    if balance >= money: # 잔액이 출금보다 많으면
        print("출금이 완료되었습니다. 잔액은 {0} 원입니다.".format(balance - money))
        return balance - money # 출금 후 잔액 반환
    else:
        print("출금이 완료되지 않았습니다. 잔액은 {0} 원입니다.".format(balance))
        return balance # 기존 잔액 반환

# 출금 시도
balance = withdraw(balance, 2000) # 2000원 출금 시도 시 잔액이 부족하므로 실패
balance = withdraw(balance, 500) # 500원 출금 시도 시 성공
print(balance) # 현재 잔액

출금이 완료되지 않았습니다. 잔액은 1000 원입니다.
출금이 완료되었습니다. 잔액은 500 원입니다.
500

In [ ]:
def withdraw_night(balance, money): # 저녁에 출금
    commission = 100 # 출금 수수료 100원
    return commission, balance - money - commission # 튜플 형식으로 반환
    
balance = 0 # 최초 잔액
balance = deposit(balance, 1000) # 1000원 입금

# 저녁에 출금 시도
commission, balance = withdraw_night(balance, 500)
print("수수료 {0} 원이며, 잔액은 {1} 원입니다.".format(commission, balance))

입금이 완료되었습니다. 잔액은 1000 원입니다.
수수료 100 원이며, 잔액은 400 원입니다.

In [ ]:
def profile(name, age, main_lang):
    print("이름 : {0}\t나이 : {1}\t주 사용 언어 : {2}".format(name, age, main_lang))
    
profile("유재석", 20, "파이썬") # 유재석씨(20세)의 주 사용 언어는 파이썬
profile("김태호", 25, "자바") # 김태호씨(25세)의 주 사용 언어는 자바
profile(name="유재석", main_lang="파이썬", age=20) # 순서 마음대로
profile(main_lang="자바", age=25, name="김태호") # 순서 마음대로

profile("유재석", age=20, main_lang="파이썬") # (O) 올바른 함수 호출 방법 (일반 전달값 먼저 작성)
#profile(name="김태호", 25, "파이썬") # (X) 잘못된 함수 호출 방법 (키워드 인자 먼저 작성)

이름 : 유재석	나이 : 20	주 사용 언어 : 파이썬
이름 : 김태호	나이 : 25	주 사용 언어 : 자바
이름 : 유재석	나이 : 20	주 사용 언어 : 파이썬
이름 : 김태호	나이 : 25	주 사용 언어 : 자바
이름 : 유재석	나이 : 20	주 사용 언어 : 파이썬

In [ ]:
def profile(name, age=17, main_lang="파이썬"): # 전달값을 따로 받지 않을때 기본으로 사용할 값
    print("이름 : {0}\t나이 : {1}\t주 사용 언어 : {2}".format(name, age, main_lang))
        
profile("유재석")
profile("김태호")

이름 : 유재석	나이 : 17	주 사용 언어 : 파이썬
이름 : 김태호	나이 : 17	주 사용 언어 : 파이썬

In [ ]:
# 가변 인자 (변할 수 있는 인자) → 앞에 * 표시

def profile(name, age, *language): # 언어 정보를 전달하고 싶은 갯수 만큼 전달 가능    
    print("이름 : {0}\t나이 : {1}\t".format(name, age), end=" ")
    
    # print(type(language)) # tuple
    for lang in language:
        print(lang, end=" ") # 언어들을 모두 한 줄에 표시
    print() # 줄바꿈 목적

profile("유재석", 20, "Python", "Java", "C", "C++", "C#", "JavaScript") # JavaScript 추가
profile("김태호", 25, "Kotlin", "Swift")

이름 : 유재석	나이 : 20	 Python Java C C++ C# JavaScript
이름 : 김태호	나이 : 25	 Kotlin Swift

In [ ]:
gun = 10

def checkpoint(soldiers):
    global gun # 전역공간에 있는 gun 이라는 변수를 사용
    gun = gun - soldiers
    print("[함수 내] 남은 총 : {0}".format(gun))

print("전체 총 : {0}".format(gun))
checkpoint(2)
print("남은 총 : {0}".format(gun))

전체 총 : 10
[함수 내] 남은 총 : 8
남은 총 : 8

In [ ]:
gun = 10

def checkpoint_ret(gun, soldiers): # 전체 총 수와 군인 수를 전달받음
    gun = gun - soldiers # 전달받은 gun 을 사용
    print("[함수 내] 남은 총 : {0}".format(gun))
    return gun

print("전체 총 : {0}".format(gun))
gun = checkpoint_ret(gun, 2) # gun 값을 함수에 전달
print("남은 총 : {0}".format(gun))

전체 총 : 10
[함수 내] 남은 총 : 8
남은 총 : 8

In [ ]:
def std_weight(height, gender):
  if gender=="남자":
    return height*height*22
  elif gender=="여자":
    return height*height*21

height = 175
gender = "남자"
weight = round(std_weight(height/100, gender),2)
print("키 {0}cm {1}의 표준 체중은 {2}kg 입니다.".format(height, gender, weight))

키 175cm 남자의 표준 체중은 67.38kg 입니다.